body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
}

.center {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    width: 50%;
    height: 50%;
    min-width: 200px;
    max-width: 400px;
    padding: 40px;
}

.circle-image {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    display: block;
}

div > p {
    color: red;
}

div.popular > p {
    color: #00ff4d;
}

#posts > div {
    padding: 20px;
}

.one {

}
.two {
    display: none;
}

*, p {
    font-size: 24px !important;
}
span {
    font-weight: bold;
}

.container {
    max-width: 1000px;
    margin: auto;
}